{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}All Tasks{% endblock %}

{% block content %}
<h1>{% trans "Password reset" %}</h1>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form action="{% url "pswd_reset" %}" method="post">{% csrf_token %}
  {{ form.email.errors }}
  <p>
    <label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}
    <input type="submit" value="{% trans 'Reset my password' %}" />
  </p>
</form>
{% endblock %}
{% block info_block %}
<section class="info">
    Hello! This page content doesn't match the module purposes
</section>
{% endblock %}