{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "Task Details" %}{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="task-details-inner">
                <style>.test-line{
                    margin-bottom: .5em;
                    border-bottom: 1px dotted #aaa;
                }</style>
                <div class="test-line">
                   {% trans "Assigment" %}: {{object.get_assigment}}
                </div>
                <div class="test-line">
                   {% trans "Urgency:" %} {{object.get_urgency}}
                </div>
                <div class="test-line">
                   {% trans "Page Number:" %} {{object.page_number}}
                </div>
                <div class="test-line">
                   {% trans "Spacing:" %} {{object.get_spacing}}
                </div>
                <div class="test-line">
                   {% trans "Discipline:" %} {{object.get_discipline}}
                </div>
                <div class="test-line">
                   {% trans "Level:" %} {{object.get_level}}
                </div>
                <div class="test-line">
                   {% trans "Style:" %} {{object.get_style}}
                </div>
                <div class="test-line">
                   {% trans "Source Number:" %} {{object.source_number}}
                </div>
                <div class="test-line">
                   {% trans "Attach:" %} {{object.attach}}
                </div>
                <div class="test-line">
                   {% trans "Paper Title:" %} {{object.paper_title}}
                </div>
                <div class="test-line">
                   {% trans "Instructions:" %}<br/> {{object.instructions}}
                </div>
                <div class="info-row">
                    <div class="info-col">
                        <i class="fa fa-lg fa-check-square-o"></i>{% trans "Status" %}: [{{object.get_status}}] 
                    </div>
                    <div class="info-col">
                        <i class="fa fa-lg fa-calendar"></i>{% trans "Created" %}: {{object.created}}
                    </div>
                </div>
                <div class="info-row">
                  <div class="info-col">
                    <form action="{% url "task_approve" object.pk %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{co.ACTIVE}}" name="status" />
                      <input type="submit" value="{% trans "Approve" %}" class="btn btn-primary" />
                    </form>
                  </div>
                  <div class="info-col">
                    <form action="{% url "task_reject" object.pk %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{co.REJECTED}}" name="status" />
                      <input type="submit" value="{% trans "Reject" %}" class="btn btn-primary" />
                    </form>
                  </div>
                  <div class="info-col">
                    <form action="{% url "task_suspect" object.pk %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" value="{{co.SUSPICIOUS}}" name="status" />
                      <input type="submit" value="{% trans "Suspect" %}" class="btn btn-primary" />
                    </form>
                  </div>
                </div>
            </div>
            <div class="comments">
                <div class="lh">
                    <span class="title">{% trans "Comments" %}</span><span class="badge">{{comments|length}}</span>
                </div>
                <ul>
                    {% for comment in comments %}
                       <div class="info-col">
                         <i class="fa fa-lg fa-calendar"></i>{% trans "Created" %}: {{comment.created}} 
                       </div>
                       <div class="info-col">
                         {% trans "Title" %}: {{comment.title}}
                       </div>
                       <div class="info-col">
                         {{comment.body}}
                       </div>
                    <br />
                    {% empty %}
                    <li>
                        {% trans "No comments yet" %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block info_block %}
<section class="info">
    <h2>{% trans "Task Details" %} 
</section>
{% endblock %}
