{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "User Details" %}{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-3">
            <div class="owner">
                <img src="{{object.photo.url}}" class="img-thumbnail">
                <br />
            </div>
        </div>
        <div class="col-md-9">
            <div class="task-details-inner">
                <div>
                    <h2>{{object.user.username}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block info_block %}
<section class="info">
    <h2>{% trans "User Details" %}</h2>
</section>
{% endblock %}