  <div>
    <label>Title:
      {{object.title}}
    </label>
  </div>
  <div>
    <label>Overview:
      {{object.overview}}
    </label>
  </div>
  <div>
    <label>Expired At:
      {{object.expired}}
    </label>
  </div>
  <div>
    <label>End Point:
      {{object.end_point}}
    </label>
  </div>
  <div>
    <label>Price:
      {{object.price}}
    </label>
  </div>
  <div>
    <label>Category:
      {{object.category}}
    </label>
  </div>
  <div>
    <label>Owner:
      {{object.owner}}
    </label>
  </div>
