{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "Task Details" %}{% endblock %}
{% block content %}
<section class="container-fluid" style="margin: 1em auto; width: 80%">
    <div>
        <label>Title:
            {{object.title}} </label>
    </div>
    <div>
        <label>Overview:
            {{object.overview}} </label>
    </div>
    <div>
        <label>Expired At:
            {{object.expired}} </label>
    </div>
    <div>
        <label>End Point:
            {{object.end_point}} </label>
    </div>
    <div>
        <label>Price:
            {{object.price}} </label>
    </div>
    <div>
        <label>Category:
            {{object.category}} </label>
    </div>
    <div>
        <label>Owner:
            {{object.owner}} </label>
    </div>
    <div class="lh">
      <span class="title">{% trans "Comments" %}</span><span class="badge">{{comments|length}}</span>
    </div>
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment.title }}
            <form action="{% url "comment_remove" comment.pk %}" method="POST">
               {% csrf_token %}
               <input type="submit" value="{% trans "Remove" %}" class="btn btn-primary" />
            </form>
        </li>
        {% empty %}
        <li>
            {% trans "No comments yet" %}
        </li>
        {% endfor %}
    </ul>
    <form action="{% url "comment_new" task_id=object.pk %}" method="post">
        {% csrf_token %}
        <!-- {{ form.non_field_errors }} -->
        <!-- {{ form.errors }} -->
        <div class="row">
            <div class="form-group col-md-9{% if form.title.errors %} has-error{% endif %}">
                <!-- {{form.title.errors}} -->
                <label>{% trans "Title" %}</label>
                <input type="text" name="title" />
            </div>
        </div>
        <div class="form-group{% if form.body.errors %} has-error{% endif %}">
            <!-- {{form.body.errors}} -->
            <label>{% trans "Body" %}</label>
            <input type="text" name="body" />
        </div>
        <div class="form-group{% if form.rating.errors %} has-error{% endif %}">
            <!-- {{form.rating.errors}} -->
            <label>{% trans "Put your rating 0-5" %}</label>
            <input type="text" name="rating" />
        </div>
        <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary" />
    </form>
</section>
{% endblock %}
{% block info_block %}
<section class="info">
    <h2>{% trans "Task Details" %}</h2>
</section>
{% endblock %}