{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}All Tasks{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="lh">
            <i class="fa fa-tasks"></i><span class="title">{% trans "Tasks" %}</span><span class="badge">{{tasks|length}}</span>
        </div>
        <ul class="fa-ul">
        <!-- <ul> -->
            {% for task in tasks %}
            <li>
                <i class="fa-li fa fa-check-square-o"></i><a href="{{task.to_link}}">{{ task.owner.username }}-{{task.created}}</a>
            </li>
            {% empty %}
            <li>
                <i class="fa-li fa fa-square-o"></i>{% trans "No tasks yet" %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block info_block %}
<section class="info">
    Hello! This is categories view
</section>
{% endblock %}
