{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}All Tasks{% endblock %}
{% block content %}
<div class="lh">
    <i class="fa fa-tasks"></i><span class="title">{% trans "Tasks" %}</span><span class="badge">{{tasks|length}}</span>
</div>
<ul class="fa-ul">
    {% for task in tasks %}
    <li>
        <i class="fa-li fa fa-check-square-o"></i><a href="{{task.to_link}}">{{ task.title }}</a>
    </li>
    {% empty %}
    <li>
        <i class="fa-li fa fa-square-o"></i>{% trans "No tasks yet" %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block left_side %}
<aside class="left">
    <div class="lh">
        <i class="fa fa-th"></i><span class="title">{% trans "Categories" %}</span><span class="badge">{{categories|length}}</span>
    </div>
    <ul class="fa-ul">
        {% for cat in categories %}
        <li>
            <i class="fa-li fa fa-bookmark-o"></i><a href="{{cat.to_link}}">{% trans cat.name|lower %}</a>
        </li>
        {% empty %}
        <li>
            <i class="fa-li fa fa-bookmark-o"></i>{% trans "No categories yet" %}
        </li>
        {% endfor %}
    </ul>
</aside>
{% endblock %}
{% block info_block %}
<section class="info">
    Hello! This is categories view
</section>
{% endblock %}