{% load i18n %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Translation Portal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/tasks/">{% trans "All tasks" %}</a>
                    </li>
                    <li class="active">
                        <a href="/task/new">{% trans "Create a task" %}</a>
                    </li>
                    <!-- <li>
                    <a href="#">Hello, {{user}}</a>
                    </li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li>
                    <a href="#">Action</a>
                    </li>
                    <li>
                    <a href="#">Another action</a>
                    </li>
                    <li>
                    <a href="#">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a href="/logout">Log out</a>
                    </li>
                    </ul>
                    </li> -->
                    <li>
                        {% if user.username %}
                        <a href="/profile/{{ user.pk }}">{% trans "Profile" %}</a>
                        <a href="/logout">{% trans "Log out" %}</a>
                        {% else %}
                        <a href="/login">{% trans "Sign in" %}</a>
                        {% endif %}
                    </li>
                </ul>
                <!-- <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">
                Submit
                </button>
                </form> -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>