{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}Writers{% endblock %}
{% block content %}
{% if writers %}
<div class="row">
    <div class="col-md-9">
        <div class="lh">
            <i class="fa fa-tasks"></i><span class="title">{% trans "Writers" %}</span><span class="badge">{{writers|length}}</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Username' %}</th>
                    <th>{% trans 'Created' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for writer in writers %}
                <tr>
                    <td><a href="{% url 'user_details' writer.pk %}">{{writer.username}}</a></td>
                    <td>{{writer.created}}</td>
                </tr>
                {% empty %}
                  <tr>No writers</tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
</div>
{% endif  %}
{% endblock %}
{% block info_block %}
<section class="info">
    --- Hello! This is writers view ---
</section>
{% endblock %}
