{% extends "layout.html" %}
{% load i18n render_status %}
{% block pagetitle %}{% trans "Message Details" %}{% endblock %}
{% block info_block %}
<section class="info">
    <h2><i class="fa fa-envelope-o irm"></i> {{object.title}} </h2>
</section>
{% endblock %}
{% block content %}
{% if perm.can_edit_msg  %}
<form action="{% url 'msg_edit' object.pk %}" method="post">
  {% csrf_token %}
  <input name="body" type="text" value="{{object.body}}"/>
  <input name="title" type="text" value="{{object.title}}"/>
  <input type="submit" value="submit"/>
</form>
{% endif %}
{% if perm.can_rm_msg %}
{% endif %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <i class="fa fa-male irm"></i>From: {{object.mowner.username}}
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-calendar irm"></i>Created: {{object.created}}
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-tasks irm"></i>Task ID: <a href="{% url "task_view" object.mtask_id %}">{{object.mtask_id}}</a>
                        </div>
                    </div>
                    <hr>
                    <div class="mesg-body">
                        {{object.body}}
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
