{% load i18n render_status %}
<thead>
    <tr>
        <th class="sorter-digit">{% trans 'ID' %}</th>
        <th class="sorter-text">{% trans 'Order name' %}</th>
        <th class="sorter-text">{% trans 'Assigment' %}</th>
        <th class="sorter-status">{% trans 'Status' %}</th>
        <th class="sorter-text">{% trans 'Writer' %}</th>
        <th>{% trans 'Created' %}</th>
        <th class="sorter-text">{% trans 'Urgency' %}</th>
        <th class="sorter-text">{% trans 'Full DL' %}</th>
        <th class="sorter-text">{% trans 'Review' %}</th>
        <th class="sorter-text">{% trans 'Payment status' %}</th>
        <th class="sorter-text">{% trans 'Price' %}</th>
    </tr>
</thead>
<tbody>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{% url 'task_view' task.id %}">{{task.paper_title}}</a></td>
        <td>{{task.get_assigment}}</td>
        <td data-status="{{task.status}}">{{task.status|render_status}}</td>
        <td>{% if task.assignee %}{{task.assignee}}{% endif %}</td>
        <td>{{task.created}}</td>
        <td>{{task.urgency}}</td>
        <td>{{task.days_expired|floatformat:"0"}}/{{task.hours_expired|floatformat:"0"}}</td>
        <td>{{task.review}}</td>
        <td>{{task.payment_status}}</td>
        <td>{{task.price}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr></tr>
</tfoot>
