{% extends "layout.html" %}
{% load i18n render_status %}
{% block pagetitle %}{% trans "Task Details" %}{% endblock %}
{% block info_block %}
<section class="info">
    <h2><i class="fa fa-list-alt irm"></i> {% trans "Task Details" %}
    {% if perm.can_edit %} <a href="{% url "task_edit" object.id %}" title="{% trans "Edit task" %}"><i class="fa fa-pencil-square-o" style="margin-left:.5em"></i></a></h2>
    {% endif  %}
</section>
{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Attributes
                </div>
                <div class="panel-body" style="line-height: 160%">
                    <i class="fa fa-info-circle fa-fw irm"></i><strong>{% trans "ID" %}</strong>: <em>{{object.id}}</em>
                    <br>
                    {% if site == 'admin' %}
                    <i class="fa fa-globe fa-fw irm"></i><strong>{% trans "Site" %}</strong>: <em>{{object.site}}</em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Owner" %}</strong>: <em><a href="{% url 'user_edit' object.owner.id %}">{{object.owner}}</a></em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Manager" %}</strong>: <em>{{object.manager}}</em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Writer" %}</strong>: <em>{{object.assignee}}</em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Editor" %}</strong>: <em>{{object.writer}}</em>
                    <br>
                    <i class="fa fa-clock-o fa-fw irm"></i><strong>{% trans "Local time" %}</strong>: <em>{{object.local_time}}</em>
                    <br>
                    <i class="fa fa-star-half-o fa-fw irm"></i><strong>{% trans "Mark" %}</strong>: <em>{{object.mark}}</em>
                    <br>
                    <i class="fa fa-eye fa-fw irm"></i><strong>{% trans "Access" %}</strong>: <em>{{object.get_access_level}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-barcode fa-fw irm"></i><strong>{% trans "Discount" %}</strong>: <em>{{object.discount}}</em>
                    <br>
                    <i class="fa fa-credit-card fa-fw irm"></i><strong>{% trans "Payment" %}</strong>: <em>{{object.get_payment_status}}</em>
                    <br>
                    <i class="fa fa-money fa-fw irm"></i><strong>{% trans "Price" %}</strong>: <em>{{object.price}}</em>
                    <br>
                    <i class="fa fa-exclamation-circle fa-fw irm"></i><strong>{% trans "Priority" %}</strong>: <em>{{object.get_priority}}</em>
                    <hr>
                    <form action="#" method="post" id="admin_actions">
                        {% csrf_token %}
                        <div class="btn-group">
                            <button id="admin_actions_button" type="button" style="min-width:240px" class="btn btn-primary btn-lg" data-action="">
                                Select action
                            </button>
                            <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="admin_actions_list" style="min-width:240px">
                                <li>
                                    <a href="#" data-action="approve"><i class="fa fa-thumbs-o-up irm"></i>Approve</a>
                                </li>
                                <li>
                                    <a href="#" data-action="reject"><i class="fa fa-thumbs-o-down irm"></i>Reject</a>
                                </li>
                                <li>
                                    <a href="#" data-action="send"><i class="fa fa-share-square-o irm"></i>Send</a>
                                </li>
                                <li>
                                    <a href="#" data-action="suspect"><i class="fa fa-warning irm"></i>Suspect</a>
                                </li>
                                <li>
                                    <a href="#" data-action="lock"><i class="fa fa-lock irm" ></i>Lock</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                    {% elif site == 'customer' %}
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Writer" %}</strong>: <em>{{object.assignee}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-credit-card fa-fw irm"></i><strong>{% trans "Payment" %}</strong>: <em>{{object.get_payment_status}}</em>
                    <br>
                    <i class="fa fa-money fa-fw irm"></i><strong>{% trans "Price" %}</strong>: <em>{{object.price}}</em>
                    <br>
                    {% elif site == 'writer' %}
                    <i class="fa fa-star-half-o fa-fw irm"></i><strong>{% trans "Mark" %}</strong>: <em>{{object.mark}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-exclamation-circle fa-fw irm"></i><strong>{% trans "Priority" %}</strong>: <em>{{object.get_priority}}</em>
                    <br>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-{% if perm.can_approve or perm.can_reject or perm.can_suspect %}6{% else %}9{% endif %}">
            <!-- <div class="task-details-inner"> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row small highlight">
                        <div class="col-md-3">
                            {{object.status|render_status}}<strong class="ilm">{% trans "Status" %}</strong>
                            <div style="margin-left:2.5em">
                                {{object.get_status}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-calendar irm" style="font-size:1.5em;"></i><strong>{% trans "Created" %}</strong>
                            <div style="margin-left:2.5em">
                                {{object.created}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-clock-o irm" style="font-size:1.5em;"></i><strong>{% trans "Updated" %}</strong>
                            <div style="margin-left:2.5em">
                                {{object.updated}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-clock-o irm" style="font-size:1.5em;color:#800"></i><strong>{% trans "Full Deadline" %}</strong>
                            <div style="margin-left:2.5em" class="momdl">
                                {{object.admin_deadline}}
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-tag fa-fw irm"></i><strong>{% trans "Paper Title" %}</strong>
                    <h2 style="padding-left:1em;font-family: Georgia, 'Times New Roman', serif;text-align:justify">{{object.paper_title}}</h2>
                    <hr>
                    <i class="fa fa-file-text fa-fw irm"></i><strong>{% trans "Instructions" %}</strong>
                    <br>
                    <p style="white-space:pre-line;color:#555;padding-left:2em;padding-top:1em;text-align:justify;font-style:italic;line-height: 160%">
                        {{object.instructions}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row" style="line-height: 160%">
                <div class="col-md-4">
                    <i class="fa fa-list-alt fa-fw irm"></i><strong>{% trans "Assigment" %}</strong>: <em>{{object.get_assigment}}</em>
                    <br>
                    <i class="fa fa-clock-o fa-fw irm"></i><strong>{% trans "Urgency" %}</strong>: <em>{{object.get_urgency}}</em>
                    <br>
                    <i class="fa fa-files-o fa-fw irm"></i><strong>{% trans "Page Number" %}</strong>: <em>{{object.page_number}}</em>
                    <br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-arrows-v fa-fw irm"></i><strong>{% trans "Spacing" %}</strong>: <em>{{object.get_spacing}}</em>
                    <br>
                    <i class="fa fa-book fa-fw irm"></i><strong>{% trans "Discipline" %}</strong>: <em>{{object.get_discipline}}</em>
                    <br>
                    <i class="fa fa-certificate fa-fw irm"></i><strong>{% trans "Level" %}</strong>: <em>{{object.get_level}}</em>
                    <br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-building-o fa-fw irm"></i><strong>{% trans "Style" %}</strong>: <em>{{object.get_style}}</em>
                    <br>
                    <i class="fa fa-bars fa-fw irm"></i><strong>{% trans "Sources Number" %}</strong>: <em>{{object.source_number}}</em>
                    <br>
                    <i class="fa fa-paperclip fa-fw irm"></i><strong>{% trans "Attach" %}</strong>: <em>{{object.attach}}</em>
                    <br>
                </div>
            </div>
            <hr>
            <!--
            <div class="info-row">
            <div class="info-col">
            <i class="fa fa-lg fa-check-square-o"></i>{% trans "Status" %}: [{{object.get_status}}]
            </div>
            <div class="info-col">
            <i class="fa fa-lg fa-calendar"></i>{% trans "Created" %}: {{object.created}}
            </div>
            </div>
            -->
            <!-- buttons -->
            <div class="btn-group">
                {% if perm.can_submit %}
                <form action="{% url 'task_submit' object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.UNPROCESSED}}" name="status">
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Submit" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_finish %}
                <form action="{% url 'task_finish' object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.COMPLETED}}" name="status" >
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Complete Task" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_send %}
                <form action="{% url 'task_send' object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.SENT}}" name="status" >
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Send" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_lock %}
                <form action="{% url 'task_lock' object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Lock" %}<i class='fa fa-lock' style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_unlock %}
                <form action="{% url 'task_unlock' object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Unlock" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_reject %}
                <form action="{% url "task_reject" object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.REJECTED}}" name="status">
                    <button type="submit" class="btn btn-danger btn-lg" role="button">
                        {% trans "Reject" %} <i class="fa fa-thumbs-o-down" style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_suspect %}
                <form action="{% url "task_suspect" object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.SUSPICIOUS}}" name="status">
                    <button type="submit" class="btn btn-default btn-lg" role="button">
                        {% trans "Suspect" %} <i class="fa fa-warning" style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
                {% if perm.can_approve %}
                <form action="{% url "task_approve" object.pk %}" method="post" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{co.PROCESSING}}" name="status">
                    <button type="submit" class="btn btn-primary btn-lg">
                        {% trans "Approve" %} <i class="fa fa-thumbs-o-up" style="margin-left:.5em"></i>
                    </button>
                </form>
                {% endif %}
            </div>
            <!-- .buttons -->
            <!-- </div> -->
        </div>
        {% if perm.can_report %}
        <div class="col-md-3 admin-reports">
            <div class="well well-sm">
                <a class="pull-right adm-report-add" href="#"><i class="fa fa-plus-circle"></i></a>
                <strong>{% trans "Admin reports"%}</strong><span class="ilm badge">{{stats.adm_reports}}</span>
                <div id="report-form" style="display:none">
                    <form action="{% url "report_new" object.pk %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="title" class="form-control" required placeholder="Report title">
                        <textarea row="4" name="body" class="form-control" required placeholder="Report text"></textarea>
                        <div style="text-align:right">
                            <button type="submit" class="btn btn-primary">
                                Post<i class="fa fa-check-square-o ilm"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="adm-report-holder">
                {% for report in reports %}
                <div class="panel panel-warning">
                    <form id="report_remove" action="{% url "report_remove" report.pk %}" method="post">
                        {% csrf_token %}
                    </form>
                    <div class="panel-heading">
                        <h3 class="panel-title"><a class="pull-right adm-report-ctrl" data-body-id="{{report.pk}}" href="#"><i class="fa fa-caret-square-o-down"></i></a><a class="pull-right adm-report-del" id="rep-del-{{report.pk}}" onclick="$('#report_remove').submit();" href="#" style="display:none"> <i class="fa fa-times-circle"></i> </a> {{report.title}}</h3>
                    </div>
                    <div id="body-id-{{report.pk}}" class="panel-body small" style="display:none">
                        {{report.body}}
                    </div>
                    <div class="panel-footer small">
                        by <a href="{% url "user_details" report.rowner.pk %}">{{report.rowner}}</a><span class="pull-right"><i class="fa fa-1 fa-calendar irm"></i>{{report.created}}</span>
                    </div>
                </div>
                {% endfor  %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
