{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}All Tasks{% endblock %}
{% block content %}
{% if tasks %}
<div class="row">
    <div class="col-md-12 /*col-md-offset-1*/">
        <div class="lh">
            <i class="fa fa-tasks"></i><span class="title">{% trans "Tasks" %}</span><span class="badge">{{tasks|length}}</span>
        </div>
        <table class="table tablesorter small">
            {% with "tasks/"|add:site|add:"-tasks.html" as template %}
            {% include template %}
            {% endwith %}
        </table>
    </div>
</div>
{% endif  %}
{% endblock %}
{% block info_block %}
<section class="info">
    - Hello! This is tasks view -
</section>
{% endblock %}
