<div class="panel-heading">
    <div class="panel-title"><a class="small" data-toggle="collapse" data-parent="#accordion-{{accid}}" href="#collapse-{{accid}}-{{u.pk}}"> {{u.attach.name}} </a></div>
</div>
<div id="collapse-{{accid}}-{{u.pk}}" class="panel-collapse collapse">
    <div class="panel-body">
        <p>
            Owner: <a href="{% url "user_edit" u.fowner.pk %}">{{u.fowner}}</a>
        </p>
        <p>
            <span><i class="fa fa-1 fa-calendar irm"> Created:</i>{{u.created}}</span>
        </p>
        <p>
            <span><i class="fa fa-1 fa-calendar irm"> Updated:</i>{{u.updated}}</span>
        </p>
    </div>
</div>