{% load i18n tags %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-font fa-lg" style="margin-right:.5em"></i>Translation Portal <sup><small>admin</small></sup></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if user.username %}
                <li class="dropdown {% active request 'order' %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-tasks fa-lg' style="margin-right:.5em"></i>{% trans "Orders "%} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'tasks_finished' %}">{% trans "Completed orders" %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Free orders" %}</strong>
                            </li>
                            <li>
                                <a href="{% url 'tasks_unprocessed' %}">{% trans "Unprocessed orders" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_rejected' %}">{% trans "Suspicious/Untrustworthy/Incomplete orders"%}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Active orders" %}</strong>
                            </li>
                            <li>
                                <a href="{% url 'tasks_active'  %}">{% trans "Processing orders" %}</a>
                            </li>
                            <li>
                                <a href="#">{% trans "Expired orders" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% active request 'writers' %}">
                        <a href="#"><i class='fa fa-pencil fa-lg' style="margin-right:.5em"></i>{% trans "Writers" %}</a>
                    </li>
                {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.username %}
                    <li class="{% active request 'profile' %}">
                        <a href="{% url "user_edit" user.pk %}"><i class='fa fa-user fa-lg' style="margin-right:.5em"></i>{% trans "Profile" %}</a>
                    </li>
                    {% endif %}
                    <li>
                        {% if user.username %}
                        <a href="/logout">{% trans "Log out" %}<i class='fa fa-sign-out fa-lg' style="margin-left:.5em"></i></a>
                        {% else %}
                        <a href="/login">{% trans "Sign in" %}<i class='fa fa-sign-in fa-lg' style="margin-left:.5em"></i></a>
                        {% endif %}
                    </li>
                </ul>
                <!-- <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">
                Submit
                </button>
                </form> -->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
