{% extends layout.skin_prefix|add:"/layout.html" %}
{% load i18n %}
{% block pagetitle %}TEST PAGE{% endblock %}
{% block content %}
<h1>TEST</h1>
{% endblock %} 
{% block info_block %}
<section class="info">
    
</section>
{% endblock %}
{% block left_side %}
<aside class="left">
    <ul>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
        <li>Item #1</li>
    </ul>
</aside>
{% endblock %} 
